﻿@model IEnumerable<ExampleWebApplication.Models.User>

<h2>Users</h2>

<table class="table table-hover">
    <tr>
        <th>Email</th>
        <th></th>
    </tr>
    @foreach (var user in Model) {
        <tr>
            <td>@user.Email</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>

<div class="mb-1">
    <a asp-action="Create" class="btn btn-success">Create user</a>
</div>
