﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExampleWebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ExampleWebApplication</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        @if (User.IsInRole("user"))
                        {
                            <li class="nav-item">
                                <a class="nav-link btn btn-block btn-link text-success" asp-area="" asp-controller="Requests" asp-action="Add">Add Request</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-block btn-link text-info" asp-area="" asp-controller="Requests" asp-action="ListByUser">My Requests</a>
                            </li>
                        }
                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-primary" asp-area="" asp-controller="Requests" asp-action="List">Manage Requests</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary" asp-area="" asp-controller="Users" asp-action="Index">Manage users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary" asp-area="" asp-controller="Roles" asp-action="Index">Manage users roles</a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="float-right">
                    <div class="form-row align-items-center">
                        @if (User.Identity.IsAuthenticated) {
                            <div class="col-auto">
                                <a asp-controller="Account" asp-action="Profile">@User.Identity.Name</a>
                            </div>
                            <div class="col-auto">
                                <form method="post" asp-controller="Account" asp-action="LogOff">
                                    <button type="submit" class="btn btn-info">Log out</button>
                                </form>
                            </div>
                        } else {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary">Log In</a>
                                </li>
                                <li class="nav-item">
                                    <span class="btn">or</span>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Sign Up</a>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - ExampleWebApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
