﻿@model ExampleWebApplication.ViewModels.CreateRequestViewModel

<h2>Create new request</h2>

@if (ViewBag.Result is string) {
    <div class="alert alert-success">@ViewBag.Result</div>
} else if (ViewBag.Error is string) {
    <div class="alert alert-warning">@ViewBag.Error</div>
}

<form method="post" asp-controller="Requests" asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="alert alert-info"></div>

    <input asp-for="User.Id" type="hidden" />

    <div class="form-group">
        <label asp-for="Title"></label><br />
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label><br />
        <textarea asp-for="Description" class="form-control" style="min-height:200px;"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
