﻿@model ExampleWebApplication.ViewModels.ChangeRequestViewModel

<h2>Active requests</h2>

<table class="table table-hover">
    @foreach (var item in Model.Requests) {
        <tr>
            <td>
                @item.Title
                (<small>@item.Status</small>)
            </td>
            <td style="width:30%;">
                <div class="d-flex flex-row">
                    @if (Model.CanEdit && item.Status == RequestStatus.New) {
                        <form asp-action="Approve" asp-route-id="@item.Id" method="post" class="p-1">
                            <button type="submit" class="btn btn-sm btn-success">Approve</button>
                        </form>
                        <form asp-action="Decline" asp-route-id="@item.Id" method="post" class="p-1">
                            <button type="submit" class="btn btn-sm btn-danger">Decline</button>
                        </form>
                    } else {
                        <span class="btn btn-sm text-muted p-1">@item.Status</span>
                    }
                </div>
            </td>
        </tr>
    }
</table>
