﻿@using Microsoft.AspNetCore.Identity
@model ExampleWebApplication.ViewModels.ChangeRoleViewModel

<h2>Edit access rights for user: @Model.UserEmail</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />

    @foreach (IdentityRole role in Model.AllRoles) {
        <div class="form-group custom-control custom-checkbox">
            <input type="checkbox" name="roles" id="role_@role.Id" class="custom-control-input" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />
            <label for="role_@role.Id" class="custom-control-label">@role.Name</label>
        </div>
    }
    <button type="submit" class="btn btn-primary">Save</button>
</form>