﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Manage roles</h2>
<table class="table">
    @foreach (var role in Model) {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="Create" class="btn btn-success">Add role</a>

<hr />
<a asp-action="UserList" class="btn btn-link">Manage active users</a>
