﻿@model ExampleWebApplication.ViewModels.UsersRolesListViewModel

<h2>Users list</h2>
<table class="table">
    @foreach (var user in Model.UsersList) {
        <tr>
            <td>
                @user.Email
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Edit roles</a>
            </td>
        </tr>
    }
</table>