﻿@model ExampleWebApplication.ViewModels.LoginViewModel

<h2>Login form</h2>

<div class="row justify-content-center">
    <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="col-4">
        <div asp-validation-summary="ModelOnly" class="alert alert-info"></div>

        <div class="form-group">
            <label asp-for="Email"></label><br />
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label><br />
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group custom-control custom-checkbox">
            <input asp-for="RememberMe" class="custom-control-input" />
            <label asp-for="RememberMe" class="custom-control-label"></label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>

        <a asp-action="User" asp-controller="ForgotPassword">Forgot password?</a>
    </form>
</div>
