﻿@model ExampleWebApplication.ViewModels.ProfieViewModel

<dl>
    <dt>Name</dt>
    <dd>@Model.User.DisplayName</dd>

    <dt>Roles</dt>
    <dd>
        @foreach (var role in @Model.UserRoles) {
            @role
        }
    </dd>
</dl>