﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This an example of the .Net Core web application.</p>
    <p>Running by @ViewData["Framework"] at @ViewData["Platform"]</p>
</div>
